<div class="modal-ordering">
  <div class="close-modal-ordering"><span></span></div>
  <div class="modal-ordering_inner">
    <div class="modal">
      <h2>Оформление заказа</h2>
      <p>Укажите пожалуйста контактные данные для оформления доставки</p>
      <form action="{% url 'order_form' %}" method="post" class="order-form">
        {% csrf_token %}
        <div class="input">
          <input type="text" class="input_form" name="name" placeholder="Ваше имя *" required="required"/>
          <span class=error></span>
        </div>
        <div class="input">
          <input class="phone-mask input_form" name="phone" type="text"
                 placeholder="Ваш телефон *" required="required"/>
          <span class=error></span>
        </div>
        <div class="input">
          <textarea class="input_form" placeholder="Комментарий к заказу" name="comment"></textarea>
          <span class=error></span>
        </div>
        <button class="disabled-btn" type="submit" disabled="disabled">
          Оформить доставку
        </button>
        <div class="info">Доставка осуществляется сервисами</div>
        <div class="info-delivery">
          <span>Ковер-Самолет</span>
          <span>Namba Food</span>
        </div>
        <div class="info-sum">Внимание! Стоимость доставки уточнит оператор.
        </div>
      </form>
    </div>
  </div>
</div>