<div class="modal-ordering">
  <div class="close-modal-ordering"><span></span></div>
  <div class="modal-ordering_inner">
    <div class="modal">
      <h2>Оформление заказа</h2>
      <p>Укажите пожалуйста контактные данные для оформления доставки</p>
      <form action="">
        <div class="input">
          <input type="text" placeholder="Ваше имя *" required="required"/>
        </div>
        <div class="input">
          <input class="phone-mask" type="text"
                 placeholder="Ваш телефон *" required="required"/>
        </div>
        <div class="input">
          <textarea placeholder="Комментарий к заказу" required="required">
          </textarea>
        </div>
        <button class="disabled-btn" type="submit" disabled="disabled">
          Оформить доставку
        </button>
        <div class="info">Доставка осуществляется сервисами</div>
        <div class="info-delivery">
          <span>Ковер-Самолет</span>
          <span>Namba Food</span>
        </div>
        <div class="info-sum">Внимание! Стоимость доставки уточнит оператор.
        </div>
      </form>
    </div>
  </div>
</div>